.navEdit {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .navEdit {
    display: none;
  }
}
nav {
  background-image: linear-gradient(90deg, #0a83df, #0485d4);
}

.dashboard-container {
  color: rgb(12, 105, 151);
  background-color: #e7f1ec;
  height: 100vh;
}

.bgContainer {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #e3f2fd, #bbdefb);
}
.labelEdit {
  margin-left: -215px;
  margin-bottom: 6px;
  color: #2673c0;
  font-weight: 500;
}
.labelEdit1 {
  margin-left: -215px;
  margin-bottom: 6px;
  color: #566956;
  font-weight: 500;
}

.formContainer {
  background-image: url("./assets/—Pngtree—task management business planning app_15392537.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.form-container {
  padding: 15px;
}
